/* #button{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
} */
#game-over{
    background: rgba(255, 255, 255, 0.2); 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
#container{
    position: relative;
}